</br></br>

<div class="row">
	<h2>Leaderboards</h2>
</div>

</br>

<div class="row">
	<div class="small-4 columns">
		<%= render 'leaderboards/all_leaderboards', leaderboard_all_users: @leaderboard_all_users, leaderboard_friends_users: @leaderboard_friends_users, leaderboard_companions_users: @leaderboard_companions_users %>
	</div>
	<div class="small-3 columns">
	</div>
	<div class="small-3 columns">
	</div>
</div>