<div class="row">
	<div class="small-3 columns">
		Username
	</div>
	<div class="small-3 columns user_username">
		<%= @user.username %>
	</div>
	<div class="small-3 columns">
	</div>
</div>

<div class="row">
	<div class="small-3 columns">
		Email
	</div>
	<div class="small-3 columns user_email">
		<%= @user.email %>
	</div>
	<div class="small-3 columns">
	</div>
</div>

</br></br></br></br></br></br></br></br></br>

<div class="row centered">
	<%= link_to 'Edit Profile', edit_user_path(@user), class: "button", id: "edit_profile_button" %>
</div>