</br>
<div class="row">
	<h3>
		<%= @friend.username.titlecase.possessive + " Profile" %>
	</h3>
</div>
</br>

<div class="row">
	<div class="small-3 columns">
		Joined on:
	</div>
	<div class="small-3 columns">
		<%= @friend.created_at.strftime("%d/%m/%Y") %>
	</div>
	<div class="small-3 columns">
	</div>
</div>