#homepage-hero {
	background-image: url("blue8.png");
	background-repeat: repeat-y;
	background-size: 100% 680px;
	height: 680px;
	margin-top: -30px;
}

.test {
	background-color: #262626;
	padding-left: 40px;
}

#homepage-hero h1 {
	font-size: 60px;
	color: #fff;
	font-weight: 300;
	font-style: normal;
}

#skinny {
	color: #fff;
	font-weight: 100;
	font-size: 25px;
	font-style: normal;
}

#hero-footer {
	position: relative;
	width: 100%;
	height: 60px;
	margin-bottom: 50px;
	background-color: #0A5488;
	z-index: 100;
}

#giraffe {
	position: absolute;
	z-index: 1;
	right: 120px;
	width: 38%;
	float: right;
	display: inline-block;
	margin-top: -10px;
}

#monopoly_image {
	max-height: 700px;
}

.centered {
	text-align: center;
}

.small-bottom-margin {
	margin-bottom: -10px;
}

.content {
	font-family: inherit;
	font-weight: normal;
	font-size: 1rem;
	text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  margin-bottom: -45px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 60px; 
}

#spinner {
	position: fixed;
	z-index: 1000;
	top: 50%;
	left: 45%;
}

.flash-container {
	position: absolute;
}

.badge_image.large {
	width: 60px;
}

.badge_image.small {
	width: 40px;
}





